@model WebApplication1.Models.Livre;
@{
	List<Livre> livres = ViewBag.books;


}
}

<h1>List <span><a asp-controller="Livre" asp-action="Create"><i class="fas fa-plus-square"></i></a></span> </h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Author</th>
			<th>Date</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in livres)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>@item.Author</td>
				<td>@item.DateDeCreation</td>
				<td>
					<a href="livre/@item.Id" class="btn btn-outline-primary">Details</a>
					<button onclick="deleteBook(@item.Id)" class="btn btn-outline-danger">Remove</button>

				</td>
			</tr>
		}
	</tbody>
</table>



<script>

</script>